
.body {
  margin: 0;
}
.container {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  margin: auto;

  .list-item {
  box-sizing: border-box;
  text-align: center;
  width: 0 1 calc(100% / 3 - 60px);
  border: 2px solid;
  padding: 20px;
  }
}
