.background {
    background-color: orangered;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    .comment-box {
        background-color: white;
        width: 400px;
        height: 200px;
        position: relative;
        border-radius: 10px;

        .content-box-1 {

            .avatar {
                border-radius: 50%;
                transform: translate(10px, 10px);
            }

            .name {
                position: absolute;
                transform: translate(20px, 30px);
            }

            .rate {
                position: relative;
                color: white;
                background-color: green;
                width: 40px;
                height: 21px;
                border-radius: 5px;
                transform: translate(347px, -45px);

                .number-star {
                    position: absolute;
                    margin-left: 10px;
                }

                .star {
                position: absolute;
                transform: translate(21px, 3px);
                }
            
            }

            .tick {
                position: absolute;
                transform: translate(276px, -40px);
            }

            .verified {
                color: #566276;
                text-decoration: underline dotted;
                position: absolute;
                transform: translate(300px, -40px);
            }
        }

        .content-box-2 {
            margin: 0 20px;
            margin-block-start: 0px;
        }

        .content-box-3 {
            margin: 10px 20px;
        }

        .content-box-4 {
            position: relative;
            margin: 10px 20px;

            .row-1 {
                z-index: 1;
                background-color: #ECECEC;
                border-radius: 5px;
                width: 160px;
                height: 10px;
            }

            .row-2 {
                position: absolute;
                z-index: 2;
                background-color: green;
                border-radius: 5px;
                width: 130px;
                height: 10px;
                transform: translate(0px, -10px);
            }

            .rate-row {
                position: absolute;
                transform: translate(180px, -15px);
            }

            .star-row-2 {
                position: absolute;
                transform: translate(220px, -15px);
            }
        }
    }
}